<launch>

    <arg name="node_start_delay" default="0.0" /> 
    <!-- Node that runs the path transformer script -->
    <node name="move_ur_to_start_pose" pkg="move_ur_to_start_pose" type="move_ur_to_start_pose.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
        <!-- Transformation parameters -->
        <param name="path_topic" value="/ur_path_original" />
        <param name="robot_name" value="mur620a" />
        <param name="manipulator_base_link" value="mur620a/UR10_r/base_link" />
    </node>
</launch>
