<launch>

    <arg name="robot1_name" default="mur620c" />
    <arg name="robot2_name" default="mur620b" />

    <include file="$(find print_sim)/launch/run_simulation_complete.launch" >
        <arg name="robot1_name" value="$(arg robot1_name)" />
    </include>

    <include file="$(find mur_launch_sim)/launch/mur_620.launch">
        <arg name="robot_x"     default="55.0" />
        <arg name="robot_y"     default="39.0" />
        <arg name="robot_yaw"   default="0.0" /> 
        <arg name="tf_prefix"   default="$(arg robot2_name)" />      
        <arg name="tool"   default="none" />
        <arg name="enable_dual_collison_avoidance" default="false" /> 
    </include>
    


</launch>