<launch>
    <arg name="robot_name" default="mur620a" />
    <arg name="path_topic" default="/mir_path_transformed" />
    <arg name="initial_path_index" default="0" />

    <!-- Node that runs the path transformer script -->
    <node name="move_mir_to_start_pose" pkg="move_mir_to_start_pose" type="move_mir_to_start_pose.py" output="screen">
        <!-- Transformation parameters -->
        <param name="path_topic" value="$(arg path_topic)" />
        <param name="robot_name" value="$(arg robot_name)" />
        <param name="initial_path_index" value="$(arg initial_path_index)" />
    </node>
</launch>
