<launch>
    <arg name="component_name" default="rectangleRoundedCorners" />
    <arg name="tx" default="-51.615323" />
    <arg name="ty" default="-39.752500" />
    <arg name="tz" default="0.0" />
    <arg name="rx" default="0.0" />
    <arg name="ry" default="0.0" />
    <arg name="rz" default="0.0" />
    <!-- Node that runs the path transformer script -->
    <node name="retrieve_and_publish_mir_path" pkg="parse_mir_path" type="retrieve_and_publish_path.py" output="screen">
        <param name="component_name" value="$(arg component_name)" />
        <!-- Transformation parameters -->
        <param name="tx" value="$(arg tx)" />
        <param name="ty" value="$(arg ty)" />
        <param name="tz" value="$(arg tz)" />
        <param name="rx" value="$(arg rx)" />
        <param name="ry" value="$(arg ry)" />
        <param name="rz" value="$(arg rz)" />
    </node>
</launch>
